.control {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.button,
.buttonOpen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  color: #333;
  cursor: pointer;
}

.button:hover,
.buttonOpen {
  background: #f2f2f2;
}
